{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
<meta name="description" content="Have questions about Coders Roast House.">
{% endblock %}

{% block extra_title %}| FAQ{% endblock %}

{% block page_header %}
<div class="container-fluid">
                <hr>
                <hr>
                <hr>
    <div class="row mb-3">
        <div class="col text-center mt-5">
            <div class="d-flex justify-content-center mt-4">
                <h1 class="logo-font">FAQ</h1>
            </div>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
            <div class="accordion" id="faq-accordion">
                {% for faq in faqs %}
                <div class="card shadow-sm border-0 mb-3">
                  <div class="card-header bg-black" id="heading{{ faq.id }}">
                    <h2 class="mb-0">
                      <button class="btn btn-link btn-block text-left text-dark collapsed"
                              type="button"
                              data-toggle="collapse"
                              data-target="#collapse{{ faq.id }}"
                              aria-expanded="false"
                              aria-controls="collapse{{ faq.id }}"
                              id="faq-btn-{{ faq.id }}">
                        <i class="fas fa-question-circle mr-2"></i> {{ faq.question }}
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapse{{ faq.id }}"
                       class="collapse"
                       aria-labelledby="faq-btn-{{ faq.id }}"
                       data-parent="#faq-accordion">
                    <div class="card-body bg-white text-muted" tabindex="-1">
                      {{ faq.answer }}
                    </div>
                  </div>
                </div>
                {% endfor %}                
            </div>
            <div class="text-center">
                <a href="{% url 'home' %}" class="btn btn-black text-uppercase my-3">Back Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    $(document).ready(function () {
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).find('.card-body').attr('tabindex', '-1').focus();
        });
    });
</script>
{% endblock %}





