body {
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 75px);
}

.container-wrapper--red {
    background-color: #f05f40;
    color: #fff;
}

/* Containers */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #eec802;
    border-color: #eec802;
}

.callout-container {
    height: 100vh;
    background: url('/media/coffeebeans.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

