<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="coffee-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coffee
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="coffee-link">
                <a href="{% url 'products' %}?category=house,house" class="dropdown-item">House</a>
                <a href="{% url 'products' %}?category=coffee" class="dropdown-item">Blends</a>
                <a href="" class="dropdown-item">Blends 3</a>
                <a href="{% url 'products' %}?category=coffee" class="dropdown-item">All Coffee</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boxes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boxes-link">
                <a href="{% url 'products' %}?category=boxes" class="dropdown-item">Special Box 1</a>
                <a href="" class="dropdown-item">Special Box 2</a>
                <a href="" class="dropdown-item">Special Box 3</a>
                <a href="" class="dropdown-item">All Coffee Boxes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>

