{% extends "base.html" %}
{% load static %}

{% block extra_title %}Message Sent{% endblock %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col text-center mt-5">
            <div class="d-flex justify-content-center mt-4">
                <h1 class="logo-font">Message Sent Successfully</h1>
            </div>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center">
                    <p>Thank you for contacting Coders Roast House. Were busy Roasting Coders and We'll get back to you as soon as possible.</p>
                    <a href="{% url 'home' %}" class="btn btn-black text-uppercase mt-3" aria-label="Go back to home page">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



