{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="overlay"></div>
    <div class="col-md-8 mt-3 offset-md-2">
        <hr>
        <hr>
        <hr>
        <hr>

        <br>
        <br>

        <h1>Booking Confirmation</h1>
        <p>Thank you {{ booking.customer_name }} for booking {{ booking.voucher.name }}!</p>
        <p>Your booking is confirmed. We will email Voucher Codes within 36 Hours {{ booking.customer_email }}.</p>

        <br>
        <br>

    

    </div>
</div>
</div>



{% endblock content %}



