{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="overlay"></div>
    <div class="col-md-8 mt-3 offset-md-2">
        <!--  custom spacing -->
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>
        <hr>

        <h1>Book a Discount Code - Voucher</h1>
        <ul>
            {% for voucher in vouchers %}
            <li>
                <strong>{{ voucher.name }}</strong><br>
                {{ voucher.description }}<br>
                Price: €{{ voucher.price }}<br>
                <img class="card-img-top" src="{% static 'images/voucher.jpg' %}" alt="Card image cap" size="10%">
                <hr>
                <a class="btn btn-black btn-lg" href="{% url 'book_voucher' voucher.id %}">Book Now!</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}















